<!-- START CONTACT FORM -->
<div class="contact__form">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Bride's Name</th>
        <th scope="col">Groom's Name</th>
        <th scope="col">Email</th>
        <th scope="col">ContactNumber</th>
        <th scope="col">Date</th>
        <th scope="col">Time</th>
        <th scope="col">Venue</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations$ | async; index as i">
        <th scope="row">{{ i + 1 }}</th>

        <td>{{ reservation.bridesName }}</td>
        <td>{{ reservation.groomsName }}</td>
        <td>{{ reservation.email }}</td>
        <td>{{ reservation.contactNumber }}</td>
        <td>{{ reservation.date.toString().split("T")[0] }}</td>
        <td>{{ reservation.time }}</td>
        <td>{{ reservation.venue }}</td>
        <td>{{ reservation.message }}</td>
      </tr>
    </tbody>
  </table>
  <p class="form-message"></p>
</div>
<!-- END CONTACT FORM -->
