<div class="fakeloader"></div>

<!-- START WRAPPER -->
<div class="wrapper">
  <!-- START HEADER AREA -->
  <header
    id="header-area"
    class="header-area transparent--header header--light sticky-header"
  >
    <div class="header">
      <div class="container">
        <div class="row align-items-center">
          <div
            class="col-12 order-3 col-lg-5 order-lg-1 col-md-12 col-sm-12 order-md-3 order-sm-3"
          >
            <!-- START MAIN NAVIGATION -->
            <nav class="navbar navbar-expand-lg menu">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#main-navbar"
                aria-controls="main-navbar"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="ti ti-menu"></span>
              </button>
              <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="index.html"
                      data-toggle="dropdown"
                      >Home</a
                    >
                    <ul class="dropdown-menu">
                      <li class="dropdown-item">
                        <a href="index.html">Home Default</a>
                      </li>
                      <li class="dropdown-item">
                        <a href="index-fixed-bg.html">Home Fixed Bg</a>
                      </li>
                      <li class="dropdown-item">
                        <a href="index-parallax.html">Home Parallax</a>
                      </li>
                      <li class="dropdown-item">
                        <a href="index-animate-heading.html"
                          >Home Animate Heading</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about-us.html">about us</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="portfolio.html">portfolio</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="index.html"
                      id="navbarDropdown"
                      role="button"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                      >Pages</a
                    >
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li class="dropdown-item">
                        <a href="blog-list.html">Blog List</a>
                      </li>
                      <li class="dropdown-item">
                        <a href="blog-list-right-sidebar.html"
                          >Blog List Right Sidebar</a
                        >
                      </li>
                      <li class="dropdown-item">
                        <a href="blog-list-left-sidebar.html"
                          >Blog List Left Sidebar</a
                        >
                      </li>
                      <li class="dropdown-item">
                        <a href="blog-grid.html">Blog Grid</a>
                      </li>
                      <li class="dropdown-item">
                        <a href="blog-grid-right-sidebar.html"
                          >Blog Grid Right Sidebar</a
                        >
                      </li>
                      <li class="dropdown-item">
                        <a href="blog-grid-left-sidebar.html"
                          >Blog Grid Left Sidebar</a
                        >
                      </li>
                      <li class="dropdown-item">
                        <a href="single-blog.html">Single Blog</a>
                      </li>
                      <li class="dropdown-item">
                        <a href="portfolio.html">Portfolio</a>
                      </li>
                      <li class="dropdown-item">
                        <a href="portfolio-container.html"
                          >Portfolio Container</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact.html">contact</a>
                  </li>
                </ul>
              </div>
            </nav>
            <!-- END MAIN NAVIGATION -->
          </div>
          <div
            class="col-6 order-2 col-lg-2 order-lg-2 offset-lg-0 col-md-2 offset-md-5 order-md-1 col-sm-2 offset-sm-5 order-sm-1"
          >
            <div class="logo text-center">
              <a href="index.html"
                ><img src="assets/images/logo/logo-3.png" alt="logo"
              /></a>
            </div>
          </div>
          <div
            class="col-12 order-1 col-lg-5 order-lg-3 col-md-5 col-sm-5 order-md-2 order-sm-2"
          >
            <div class="social-icons social-icons--white text-right">
              <ul>
                <li class="facebook">
                  <a href="https://www.facebook.com/"
                    ><span class="ti-facebook"></span
                  ></a>
                </li>
                <li class="twitter">
                  <a href="https://twitter.com/"
                    ><span class="ti-twitter-alt"></span
                  ></a>
                </li>
                <li class="vimeo">
                  <a href="https://vimeo.com/"
                    ><span class="ti-vimeo-alt"></span
                  ></a>
                </li>
                <li class="pinterest">
                  <a href="https://www.pinterest.com/"
                    ><span class="ti-pinterest"></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- END HEADER AREA -->

  <!-- START BREADCRUMB AREA -->
  <div class="breadcrumb-area" data-black-overlay="7">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="pt-breadcrumb text-center ptb-110">
            <h3>Portfolio Page</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END BREADCRUMB AREA -->

  <!-- START MAIN CONTENT -->
  <main class="main-content">
    <!-- START PAGE PORTFOLIO -->
    <div class="portfolio-wrap ptb-120 bg--light-grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-12 col-md-12 col-sm-12">
            <!-- START PORTFOIO FILTERS -->

            <!-- END PORTFOIO FILTERS -->
          </div>
        </div>
      </div>
      <div class="portfolios layout-2">
        <!-- START SINGLE PORTFOLIO -->
        <div class="portfolio pf-fashion pf-lifestyle">
          <div class="portfolio__inner">
            <div class="portfolio__image">
              <img
                src="assets/images/portfolio/layout-2/sm-size/1.jpg"
                alt="portfolio image"
              />
            </div>
            <div class="portfolio__content">
              <span class="portfolio-zoom-trigger">
                <a href="assets/images/portfolio/layout-2/lg-size/1.jpg"
                  ><span class="ti-eye"></span
                ></a>
              </span>
              <div class="portfolio__content__text">
                <h5>
                  <a href="single-portfolio.html">Duis aute irure dolor in</a>
                </h5>
                <div class="share__content__wrap">
                  <a class="share-toggle" href="#"
                    ><span class="ti-sharethis"></span> share</a
                  >
                  <div class="share__content">
                    <a href="https://www.facebook.com/"
                      ><span class="ti-facebook"></span
                    ></a>
                    <a href="https://twitter.com/"
                      ><span class="ti-twitter-alt"></span
                    ></a>
                    <a href="https://vimeo.com/"
                      ><span class="ti-vimeo-alt"></span
                    ></a>
                    <a href="https://www.pinterest.com/"
                      ><span class="ti-pinterest"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END SINGLE PORTFOLIO -->
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="portfolio__load-more mt-50 text-center">
              <a class="pt-button pt-button--grey">Load more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PAGE PORTFOLIO -->
  </main>
  <!-- END MAIN CONTENT -->

  <!-- START FOOTER AREA -->
  <footer id="footer" class="footer-area bg--dark-grey ptb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer">
            <div class="footer__copyright">
              <div class="logo">
                <a href="index.html"
                  ><img src="assets/images/logo/logo-2.png" alt="footer logo"
                /></a>
              </div>
              <p class="footer__copyright__text">
                &copy; 2017 <a href="https://hastech.company">Hastech</a> All
                Right Reserved.
              </p>
            </div>
            <nav class="footer__menu text-center">
              <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="about-us.html">about us</a></li>
                <li><a href="portfolio.html">portfolio</a></li>
                <li><a href="index.html">pages</a></li>
                <li><a href="contact.html">contact</a></li>
              </ul>
            </nav>
            <div class="footer__contact">
              <ul>
                <li>
                  Email :<a href="mailto:photohub@gmail.com">
                    photohub@gmail.com</a
                  >
                </li>
                <li>
                  Phone :<a href="callto:+000258028364"> (+00) 012 032 21</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER AREA -->
</div>
<!-- END WRAPPER -->
