<div class="fakeloader"></div>

<!-- START WRAPPER -->
<div class="wrapper">
  <!-- START BREADCRUMB AREA -->
  <div class="breadcrumb-area" data-black-overlay="7">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="pt-breadcrumb text-center ptb-110">
            <h3>Admin</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END BREADCRUMB AREA -->

  <!-- START MAIN CONTENT -->
  <main class="main-content">
    <!-- START CONTACT WRAP -->
    <section class="contact pt-120 pb-90 bg--light-grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 contact__top">
            <!-- START CONTACT INFORMATION -->
            <div class="contact__info">
              <div class="contact__info__image" data-black-overlay="2">
                <app-chat-list
                  (chatSelected)="selectChat($event)"
                ></app-chat-list>
              </div>
              <div class="contact__info__content text-center">
                <h5 class="contact__info__heading">Admin Chat</h5>

                <app-chat-holder
                  [mode]="'Admin'"
                  [chat]="selectedChat"
                ></app-chat-holder>
              </div>
            </div>
            <!-- END CONTACT INFORMATION -->
            <app-reservations></app-reservations>
          </div>
        </div>
      </div>
    </section>
    <!-- END CONTACT WRAP -->
    <!-- 
    <div class="google-map-area">
      <div id="google-map" class="google-map"></div>
    </div> -->
  </main>
  <!-- END MAIN CONTENT -->

  <!-- START FOOTER AREA -->
  <footer id="footer" class="footer-area bg--dark-grey ptb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer">
            <div class="footer__copyright">
              <div class="logo">
                <a href="index.html"
                  ><img src="assets/images/logo/logo-2.png" alt="footer logo"
                /></a>
              </div>
            </div>
            <nav class="footer__menu text-center">
              <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="about-us.html">about us</a></li>
                <li><a href="portfolio.html">portfolio</a></li>
                <li><a href="index.html">pages</a></li>
                <li><a href="contact.html">contact</a></li>
              </ul>
            </nav>
            <div class="footer__contact">
              <ul>
                <li>
                  Email :<a href="mailto:kavindu.nallaperuma@gmail.com">
                    kavindu.nallaperuma@gmail.com</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER AREA -->
</div>
