<div class="banner">
  <div
    class="banner__inner banner-slider-active owl-carousel slider-navigtion-style-1"
  >
    <!-- START SINGLE BANNER -->
    <div data-hash="banner-1" class="single__banner banner-image-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner__content text-center">
              <h3>What Love For</h3>
              <h1>Creatives</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SINGLE BANNER -->
    <!-- START SINGLE BANNER -->
    <div data-hash="banner-2" class="single__banner banner-image-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner__content text-left">
              <h3>What Love For</h3>
              <h1>Creatives</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SINGLE BANNER -->
    <!-- START SINGLE BANNER -->
    <div data-hash="banner-3" class="single__banner banner-image-3">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="banner__content text-center">
              <h3>What Love For</h3>
              <h1>Creatives</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END SINGLE BANNER -->
  </div>
  <div class="banner__hash-wrapper hidden-md hidden-xs hidden-sm">
    <div class="banner__hash owl-carousel">
      <div class="banner__hash__single">
        <img src="assets/images/banner/small-thumbs/1.png" alt="small thumb" />
      </div>
      <div class="banner__hash__single">
        <img src="assets/images/banner/small-thumbs/2.png" alt="small thumb" />
      </div>
      <div class="banner__hash__single">
        <img src="assets/images/banner/small-thumbs/3.png" alt="small thumb" />
      </div>
    </div>
  </div>
</div>
