<div class="fakeloader"></div>

<!-- START WRAPPER -->
<div class="wrapper">
  <!-- START HEADER AREA -->

  <!-- END HEADER AREA -->

  <!-- START SLIDER AREA -->
  <div class="banner">
    <div
      class="banner__inner banner-slider-active owl-carousel slider-navigtion-style-1"
    >
      <!-- START SINGLE BANNER -->
      <div data-hash="banner-1" class="single__banner banner-image-1">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner__content text-center">
                <h3>What Love For</h3>
                <h1>Creatives</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END SINGLE BANNER -->
      <!-- START SINGLE BANNER -->
      <div data-hash="banner-2" class="single__banner banner-image-2">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner__content text-left">
                <h3>What Love For</h3>
                <h1>Creatives</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END SINGLE BANNER -->
      <!-- START SINGLE BANNER -->
      <div data-hash="banner-3" class="single__banner banner-image-3">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="banner__content text-center">
                <h3>What Love For</h3>
                <h1>Creatives</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END SINGLE BANNER -->
    </div>
    <div class="banner__hash-wrapper hidden-md hidden-xs hidden-sm">
      <div class="banner__hash owl-carousel">
        <div class="banner__hash__single">
          <img
            src="assets/images/banner/small-thumbs/1.png"
            alt="small thumb"
          />
        </div>
        <div class="banner__hash__single">
          <img
            src="assets/images/banner/small-thumbs/2.png"
            alt="small thumb"
          />
        </div>
        <div class="banner__hash__single">
          <img
            src="assets/images/banner/small-thumbs/3.png"
            alt="small thumb"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- END SLIDER AREA -->

  <!-- START MAIN CONTENT -->
  <main class="main-content">
    <!-- START ABOUT US AREA -->
    <section id="about-area" class="pt-section about pt-120 bg--light-grey">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div class="about__image">
              <img src="assets/images/about/1.jpg" alt="about image" />
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div class="about__content">
              <h3 class="text-uppercase">
                photo tune photography best html template
              </h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididun ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ulla laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla.Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt.
              </p>
              <p>
                ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercita ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in repreh voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.
              </p>
              <img
                class="signature"
                src="assets/images/about/signature.png"
                alt="signature"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END ABOUT US AREA -->

    <!-- START SERVICE AREA -->
    <section
      id="service"
      class="pt-section service-area ptb-120 bg--light-grey"
    >
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0"
          >
            <div class="section-title text-center">
              <h2>our <span>services</span></h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do
                eiusmo tempor incididun ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="services">
              <!-- START SINGLE SERVICE -->
              <div class="service">
                <div class="service__inner">
                  <div class="service__icon">
                    <span class="icon-printer"></span>
                    <span class="icon-printer"></span>
                  </div>
                  <div class="service__content">
                    <h4>Photo Printing</h4>
                    <p>
                      Lorem ipsum dolor sit amet cons adipisicing elit, sed do
                      eiusmod tempor incididunt
                    </p>
                  </div>
                </div>
              </div>
              <!-- END SINGLE SERVICE -->
              <!-- START SINGLE SERVICE -->
              <div class="service">
                <div class="service__inner">
                  <div class="service__icon">
                    <span class="icon-camera"></span>
                    <span class="icon-camera"></span>
                  </div>
                  <div class="service__content">
                    <h4>Photography</h4>
                    <p>
                      Lorem ipsum dolor sit amet cons adipisicing elit, sed do
                      eiusmod tempor incididunt
                    </p>
                  </div>
                </div>
              </div>
              <!-- END SINGLE SERVICE -->
              <!-- START SINGLE SERVICE -->
              <div class="service">
                <div class="service__inner">
                  <div class="service__icon">
                    <span class="icon-video"></span>
                    <span class="icon-video"></span>
                  </div>
                  <div class="service__content">
                    <h4>Video Editing</h4>
                    <p>
                      Lorem ipsum dolor sit amet cons adipisicing elit, sed do
                      eiusmod tempor incididunt
                    </p>
                  </div>
                </div>
              </div>
              <!-- END SINGLE SERVICE -->
              <!-- START SINGLE SERVICE -->
              <div class="service">
                <div class="service__inner">
                  <div class="service__icon">
                    <span class="icon-lightbulb"></span>
                    <span class="icon-lightbulb"></span>
                  </div>
                  <div class="service__content">
                    <h4>Studio Lighting</h4>
                    <p>
                      Lorem ipsum dolor sit amet cons adipisicing elit, sed do
                      eiusmod tempor incididunt
                    </p>
                  </div>
                </div>
              </div>
              <!-- END SINGLE SERVICE -->
              <!-- START SINGLE SERVICE -->
              <div class="service">
                <div class="service__inner">
                  <div class="service__icon">
                    <span class="icon-paintbrush"></span>
                    <span class="icon-paintbrush"></span>
                  </div>
                  <div class="service__content">
                    <h4>Photo Editing</h4>
                    <p>
                      Lorem ipsum dolor sit amet cons adipisicing elit, sed do
                      eiusmod tempor incididunt
                    </p>
                  </div>
                </div>
              </div>
              <!-- END SINGLE SERVICE -->
              <!-- START SINGLE SERVICE -->
              <div class="service">
                <div class="service__inner">
                  <div class="service__icon">
                    <span class="icon-tools"></span>
                    <span class="icon-tools"></span>
                  </div>
                  <div class="service__content">
                    <h4>Voice Recording</h4>
                    <p>
                      Lorem ipsum dolor sit amet cons adipisicing elit, sed do
                      eiusmod tempor incididunt
                    </p>
                  </div>
                </div>
              </div>
              <!-- END SINGLE SERVICE -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END SERVICE AREA -->

    <!-- START PRICING AREA -->
    <div
      id="pricing-area"
      class="pt-section pricing-area ptb-120 bg--light-grey"
    >
      <div class="container">
        <div class="row">
          <div
            class="col-12 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-sm-12 offset-sm-0"
          >
            <div class="section-title text-center">
              <h2>Pricing <span>Plan</span></h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do
                eiusmo tempor incididun ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- START SINGLE PRICEBOX -->
          <div class="col-lg-4 col-md-6">
            <article class="pricebox text-center">
              <header class="pricebox__header">
                <h3 class="pricebox__title">Basic</h3>
                <span class="ti ti-package"></span>
                <h3 class="pricebox__price">4$</h3>
              </header>
              <div class="pricebox__body">
                <ul>
                  <li>Half Day Event</li>
                  <li>10 Printed High-res Images</li>
                  <li>1 Framed Images</li>
                  <li>Up to 100 High-res Images</li>
                </ul>
              </div>
              <footer class="pricebox__footer">
                <a href="index.html" class="pt-button">GET START</a>
              </footer>
            </article>
          </div>
          <!-- END SINGLE PRICEBOX -->
          <!-- START SINGLE PRICEBOX -->
          <div class="col-lg-4 col-md-6">
            <article class="pricebox text-center suggest">
              <header class="pricebox__header">
                <h3 class="pricebox__title">Premium</h3>
                <span class="ti ti-server"></span>
                <h3 class="pricebox__price">6$</h3>
              </header>
              <div class="pricebox__body">
                <ul>
                  <li>Half Day Event</li>
                  <li>10 Printed High-res Images</li>
                  <li>1 Framed Images</li>
                  <li>Up to 100 High-res Images</li>
                </ul>
              </div>
              <footer class="pricebox__footer">
                <a href="index.html" class="pt-button">GET START</a>
              </footer>
            </article>
          </div>
          <!-- END SINGLE PRICEBOX -->
          <!-- START SINGLE PRICEBOX -->
          <div class="col-lg-4 col-md-6">
            <article class="pricebox text-center">
              <header class="pricebox__header">
                <h3 class="pricebox__title">Business</h3>
                <span class="ti ti-pie-chart"></span>
                <h3 class="pricebox__price">8$</h3>
              </header>
              <div class="pricebox__body">
                <ul>
                  <li>Half Day Event</li>
                  <li>10 Printed High-res Images</li>
                  <li>1 Framed Images</li>
                  <li>Up to 100 High-res Images</li>
                </ul>
              </div>
              <footer class="pricebox__footer">
                <a href="index.html" class="pt-button">GET START</a>
              </footer>
            </article>
          </div>
          <!-- END SINGLE PRICEBOX -->
        </div>
      </div>
    </div>
    <!-- END PRICING AREA -->

    <!-- START TESTIMONIAL PARTNERS AREA -->

    <!-- END TESTIMONIAL PARTNERS AREA -->
  </main>
  <!-- END MAIN CONTENT -->

  <!-- START FOOTER AREA -->
  <footer id="footer" class="footer-area bg--dark-grey ptb-50">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="footer">
            <div class="footer__copyright">
              <div class="logo">
                <a href="index.html"
                  ><img src="assets/images/logo/logo-2.png" alt="footer logo"
                /></a>
              </div>
              <p class="footer__copyright__text">
                &copy; 2017
                <a href="https://hastech.company">Hastech</a>
                All Right Reserved.
              </p>
            </div>
            <nav class="footer__menu text-center">
              <ul>
                <li>
                  <a href="index.html">home</a>
                </li>
                <li>
                  <a href="about-us.html">about us</a>
                </li>
                <li>
                  <a href="portfolio.html">portfolio</a>
                </li>
                <li>
                  <a href="index.html">pages</a>
                </li>
                <li>
                  <a href="contact.html">contact</a>
                </li>
              </ul>
            </nav>
            <div class="footer__contact">
              <ul>
                <li>
                  Email :<a href="mailto:photohub@gmail.com">
                    photohub@gmail.com</a
                  >
                </li>
                <li>
                  Phone :<a href="callto:+000258028364"> (+00) 012 032 21</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- END FOOTER AREA -->
</div>
